{% extends 'base.html' %}

{% block content %}

<!--Flash message start-->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% endfor %}
    {% endif %}
{% endwith %}
<!--Flash message end-->

{% if name %}
    <h1>Welcome to list {{ name | title }} !!</h1>
    <br><br>
    <h3>All User Lists</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Color</th>

              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for our_user in our_all_users %}
            <tr>
            <td>{{ our_user.id }}</td>
            <td>{{ our_user.name }}</td>
            <td>{{ our_user.email }}</td>
            <td>{{ our_user.color }}</td>
            <td>
                <a href="{{ url_for('update_user', id=our_user.id) }}">Edit</a>
                <a href="{{ url_for('delete_user', id=our_user.id) }}">Delete</a>
            </td>
            </tr>
            {% endfor %}
          </tbody>
    </table>
{% else %}
        <h1>What's your Details?</h1>
        <br>
        <div class="shadow p-3 mb-5 bg-body rounded">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
    
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
    
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}

                {{ form.color.label(class="form-label") }}
                {{ form.color(class="form-control") }}
                <br>
                {{ form.submit(class="btn btn-secondary") }}
            </form>
        </div>
        

<br><br>
<h3>All User Lists</h3>

<table class="table table-striped table-hover">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Color</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for our_user in our_all_users %}
        <tr>
        <td>{{ our_user.id }}</td>
        <td>{{ our_user.name }}</td>
        <td>{{ our_user.email }}</td>
        <td>{{ our_user.color }}</td>
        <td>
            <a href="{{ url_for('update_user', id=our_user.id) }}">Edit</a>
            <a href="{{ url_for('delete_user', id=our_user.id) }}" class="bg-danger" style="text-decoration: none; color:white">Delete</a>
        </td>
        </tr>
        {% endfor %}
      </tbody>
</table>


{% endif %}

{% endblock %}